.container {

	position: relative;
	    margin-left: 50px;
}
#recuadro {
	/*background-color: #005733;*/
	/*background-image: "ejemplo.jpg";*/
	position:absolute;
	top:0;
	left:0;
	background-size: 1000px 750px;
	/*opacity: 0.5;*/
	float: left;

	height: 750px;
    width: 1000px;


}
.container img {
	position:absolute;
	top:0;
	left:0;
}
